*{
  margin: 0;
  padding: 0;
  font-family: 'Chelsea Market', cursive;
  
}
#sidenav-overlay { z-index: 1; }
.navbar-fixed { 
  z-index: 4;
  position:absolute;
  height: 64px;
 }

@media only screen and (max-width: 1400px){

  #banner{
    zoom: 90%;
  }
  #imageicon{
    zoom: 60%;
  }
  .title_line{
    zoom: 60%;
  }
  .projectOption{
    width: 15vw;
  }
  .projgif, .valign, .materialboxed{
    margin-top: 10px;
  }
  .first_impression{
      padding-left: 10%;
      padding-top: 3%;
      zoom: 90%;
    }
    .follow_you{
      margin-left: 3%;
      margin-top: 3%;
    }
    .brand-logo{
      margin-left: 0 !important;
    }
   
    #technology{
      min-height:550px !important;
    }
    #name{
      font-size: 3.3em !important;
    }
    #title{
      font-size: 2.5em !important;
      color: white;
    }
    .abouttext{
      font-size: 1.08em !important;
    }
    .projtitle{
      text-align: center !important;
    }
    #projecttitle{
      text-align: center !important;
    }
    .projgif{
      width: 100% !important;
    }
   
    h2{
      font-size: 2.5em !important;
    }
    h3{
      font-size: 2em !important;
    }
    .techimg{
      margin: 1em !important;
    }
}
@media only screen and (max-width: 700px){
#banner{
  zoom: 50%;
}
#imageicon{
  zoom: 30%;
}
.title_line{
  zoom:40%;
}
  .first_impression{
    padding-left: 10%;
    padding-top: 3%;
    zoom: 80%;
  }
  .follow_you{
    margin-left: 3%;
    margin-top: 3%;
  }
  .brand-logo{
    margin-left: 0 !important;
  }

  #technology{
    min-height:550px !important;
  }
  #name{
    font-size: 3.3em !important;
  }
  #title{
    font-size: 2.5em !important;
    color: white;
  }
  .abouttext{
    font-size: 1.08em !important;
  }
  .projtitle{
    text-align: center !important;
  }
  #projecttitle{
    text-align: center !important;
  }
  .projgif{
    width: 100% !important;
  }
 
  h2{
    font-size: 2.5em !important;
  }
  h3{
    font-size: 2em !important;
  }
  .techimg{
    margin: 1em !important;
  }
}


/*removing scrollbar space*/
body
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-scrollbar { width: 0 !important };
};
.images{
  display:inline-block;
  width:400px;
  height:300px;
  padding:200px 25px 0px 100px;

}
.marker {
  width:5px;
  height:5px;
  background-color:lightslategray;
  border-radius:50%;
}
.markers {
  display:flex;
  margin-top:20px;
  justify-content: space-around;
}
.marked {
  background-color:white;
}
.carousel{
  width:400px;
  border:2px solid black;
}

#main{
  overflow-x: hidden;

  -webkit-scrollbar { width: 0 !important };

}
#imageicon{
 margin-top: 15px;
 width: 240px;
}

.invisible-button{
  background-color: transparent;
  outline:none;
  margin-top:5px;
  border:none;
  border-radius:50%;
}
.backtotop {
  position:fixed;
  background-color:white;
  width:80px;
  height:80px;
  z-index: 5;
  margin: 25px 50px;
  background-color: white;
  box-shadow:2px 2px 5px black;
  border-radius:50%;
  text-align:center;
  right:0px;
  bottom:40px;
}
.invisible-button:focus{
  background-color:white;
}
.blackfont{
  color:black !important;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* 
.whitefont{
  color: white !important;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}*/
.title_line{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 30px;
  /* font-size: 5px; */
  color: black;
  -webkit-text-stroke: 0.5px palevioletred;
}
.title_line h2{
  text-align: left;
  margin: -4px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Chelsea Market', cursive;

}
/* .titleName{
  font-size: 25px;
  font-weight: normal;
  color: black;
  -webkit-text-stroke: 0.5px palevioletred;
} */

.tealfont{
  color: palevioletred !important;
} 
.blue-grey-font{
  color:gray;
  font-weight: bold;
}
.clear{
  background-color: white;
  box-shadow: none !important;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.blue-grey{
  opacity: 1 !important;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
nav{
  background-color: transparent !important;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;

}
.side-nav{
  z-index: 99;
}

/* banner*/
.first_impression{
  background-color: transparent;
  display:flex;
  justify-content: space-evenly;
  /* height: 311px; */
  width: 100%;
  z-index: 2; 
  position: absolute; 
  margin: 2.5% -3%;


}
.img-container {
  display: inline-block;
  vertical-align: middle;
  width:300px;
  height:300px;
  position:relative;
  margin: auto;
}
.quote:hover {
  color:navy;
  text-shadow:0px 0px 15px white;
  transition:2s
}
.ball {
  width:20px;
  height:20px;
  border-radius:50%;
  margin-left:140px;
  margin-top:1px;
  z-index:3;
  color:yellow;
}
.ball2 {
  width:20px;
  height:20px;
  border-radius:50%;
  margin-left:140px;
  margin-top:-10px;
  z-index:3;
  color:pink;
}
@keyframes rotating {
  0% {
      transform:rotate(0deg);
  }
  25% {
      transform:rotate(90deg);
  }
  50% {
      transform:rotate(180deg);
  }
  75% {
      transform:rotate(270deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

@keyframes reverseRotating {
  0% {
      transform:rotate(0deg);
  }
  25% {
      transform:rotate(-90deg);
  }
  50% {
      transform:rotate(-180deg);
  }
  75% {
      transform:rotate(-270deg);
  }
  100% {
      transform:rotate(-360deg);
  }
}
.profile_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* margin-right: 80px; */
  vertical-align: middle;
  position:absolute;
  top:18%;
  left:18%;

}
.outerring {
  background-color: transparent;
  border:4px dotted white;
  border-radius:50%;
  width:300px;
  height:300px;
  margin:2px;
  animation: rotating 10s linear infinite;

}
.follow_you{
  display: inline-block;
  width: 600px;
  vertical-align: middle;
}
.quote{
  color:white;

  vertical-align: middle;
  text-align: left;
  width: 518px;
  font-size: 30px;
}






/* nav bar drop down */
/* #dropdown1{

} */
li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
   position: relative;
 }
 
 ul li ul li {
   clear: both;
   width: 100%;
 }



/* .projectOption{
      display: block;
      position: relative;
      float: left;
      background: #1bc2a2;
    
} */
/* 
.navtitle{
  font-size: 1.6em;
}
.navlink{
  font-family: 'Raleway', sans-serif;
}
.brand-logo{
  margin-left: 25px;
} */
/* @font-face {
  font-family: questrial;
  src: url('./fonts/Questrial-Regular.ttf');
} */
/* .questrial{
  font-family: questrial;
} */
/* .raleway{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
} */
/* #name{
  font-size: 6em;
  font-weight: 600;
  margin-top: 22%;
}
#title{
  font-size: 5em;
  font-weight: 600;
} */
.vis {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
/* .banner-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 2s, opacity 2s ease;
  -o-transition: visibility 0s 2s, opacity 2s ease;
  transition: visibility 0s 2s, opacity 2s ease;
} */
#banner{
  height: 376px !important;
}

#parallax-one{
  background-image: url('/bg1.jpg');
}
#parallax-two{
  background-image: url('/bg2.jpg');
}
#parallax-three{
  background-image: url('/bg3.jpg');
}

#parallax-one, #parallax-two, #parallax-three{
  
  height: 140px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
   
}
#parallax-zero{
  background-image: url('/bg0.jpg');
  height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.parallaximg{
  width: 100vw;

}

#about, #skills{
  height: auto;
}
#projects{
  height: auto;
}
#abouttxtdiv{
  width: 50%;
}
/* #aboutpictures{
  opacity: 0;
} */
/* .header{
  font-weight: 500 !important;
} */
/* .abouttext{
  font-size: 1.2em;
} */
/* .abouttextscroll{
  opacity:0;
} */
/* .abtpicdiv{
  margin-bottom: 5%;
} */
/* .about-picture{

  width: 100%;
  border-radius: 50%;
}
#techtitle{
  font-size: 3.2em;
}
#techdescript{
  font-size: 1.2em;
}
#techimgs{
  opacity: 0;
}
.techscroll{
  opacity:0;
}
.techrow{
  margin-top: 10%;
}*/
.techimg{
  width:50%;
} 
#techimgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* .projtitlescroll, .projscroll{
  opacity: 0;
}
#projectdescript{
  font-size: 10%;
}*/
#project1, #project2, #project3, #project4, #project5{
  height: auto;
  border-bottom-style: dotted;

} 


.projgif{
  -webkit-box-shadow: 10px 10px 5px rgb(214, 113, 130);
          box-shadow: 10px 10px 5px rgb(214, 113, 130);
  border-radius: 7px;
}
/* .iosimg{
  width: 100%;
} */
/* .projtext{
  margin-bottom: 5%;
} */
/* .project-link{
  width: 100%;
  max-width: 100px;
} */
/* #contactimgs{
  opacity: 0;
} */
/* .contactdiv{
  height: auto;
} */
/* .contactlink{
  text-decoration: none;
} */
/* .contactimg{
  width: 100% !important;
  max-width: 120px;
} */


#about {
  padding-top: 30px;
}
#project1 {
  padding-top: 40px;
}
#project2 {
  padding-top: 40px;
}
#project3 {
  padding-top: 40px;
}
#project4 {
  padding-top: 40px;
}
#project5 {
  padding-top: 40px;
}
#project6 {
  padding-top: 40px;
}
#skills {
  padding-top: 30px;
}