*{
  margin: 0;
  padding: 0;
  font-family: 'Chelsea Market', cursive;
}
.skill-category{
  font-weight: bold;
  color: blue;
}
#sidenav-overlay { z-index: 1; }
.navbar-fixed { 
  z-index: 4;
  position:absolute;
  height: 64px;
 }

@media only screen and (max-width: 1400px){

  #banner{
    zoom: 90%;
  }
  #imageicon{
    zoom: 60%;
  }
  .title_line{
    zoom: 60%;
  }
  .projectOption{
    width: 15vw;
  }
  .projgif, .valign, .materialboxed{
    margin-top: 10px;
  }
  .first_impression{
      padding-left: 10%;
      padding-top: 3%;
      zoom: 90%;
    }
    .follow_you{
      margin-left: 3%;
      margin-top: 3%;
    }
    .brand-logo{
      margin-left: 0 !important;
    }
   
    #technology{
      min-height:550px !important;
    }
    #name{
      font-size: 3.3em !important;
    }
    #title{
      font-size: 2.5em !important;
      color: white;
    }
    .abouttext{
      font-size: 1.08em !important;
    }
    .projtitle{
      text-align: center !important;
    }
    #projecttitle{
      text-align: center !important;
    }
    .projgif{
      width: 100% !important;
    }
   
    h2{
      font-size: 2.5em !important;
    }
    h3{
      font-size: 2em !important;
    }
    .techimg{
      margin: 1em !important;
    }
}
@media only screen and (max-width: 700px){
#banner{
  zoom: 50%;
}
#imageicon{
  zoom: 30%;
}
.title_line{
  zoom:40%;
}
  .first_impression{
    padding-left: 10%;
    padding-top: 3%;
    zoom: 80%;
  }
  .follow_you{
    margin-left: 3%;
    margin-top: 3%;
  }
  .brand-logo{
    margin-left: 0 !important;
  }

  #technology{
    min-height:550px !important;
  }
  #name{
    font-size: 3.3em !important;
  }
  #title{
    font-size: 2.5em !important;
    color: white;
  }
  .abouttext{
    font-size: 1.08em !important;
  }
  .projtitle{
    text-align: center !important;
  }
  #projecttitle{
    text-align: center !important;
  }
  .projgif{
    width: 100% !important;
  }
 
  h2{
    font-size: 2.5em !important;
  }
  h3{
    font-size: 2em !important;
  }
  .techimg{
    margin: 1em !important;
  }
}


/*removing scrollbar space*/
body
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-scrollbar { width: 0 !important };
};
.images{
  display:inline-block;
  width:400px;
  height:300px;
  padding:200px 25px 0px 100px;

}
.marker {
  width:5px;
  height:5px;
  background-color:lightslategray;
  border-radius:50%;
}
.markers {
  display:flex;
  margin-top:20px;
  justify-content: space-around;
}
.marked {
  background-color:white;
}
.carousel{
  width:400px;
  border:2px solid black;
}

#main{
  width: 100vw;
  overflow-x: hidden;

  -webkit-scrollbar { width: 0 !important };

}
#imageicon{
 margin-top: 15px;
 width: 240px;
}

.invisible-button{
  background-color: transparent;
  outline:none;
  /* margin-top:5px; */
  border:none;
  border-radius:50%;
}
.backtotop {
  position:fixed;
  background-color:white;
  width:150px;
  height:150px;
  z-index: 5;
  margin: 25px 50px;
  background-color: white;
  box-shadow:2px 2px 5px black;
  border-radius:50%;
  text-align:center;
  /* right:0px; */
  /* bottom:40px; */
}
.invisible-button:focus{
  background-color:white;
}
.blackfont{
  color:black !important;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* 
.whitefont{
  color: white !important;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}*/
.title_line{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 30px;
  /* font-size: 5px; */
  color: black;
  -webkit-text-stroke: 0.5px palevioletred;
}
.title_line h2{
  text-align: left;
  margin: -4px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Chelsea Market', cursive;

}
/* .titleName{
  font-size: 25px;
  font-weight: normal;
  color: black;
  -webkit-text-stroke: 0.5px palevioletred;
} */

.tealfont{
  color: palevioletred !important;
} 
.blue-grey-font{
  color:gray;
  font-weight: bold;
}
.clear{
  background-color: white;
  box-shadow: none !important;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.blue-grey{
  opacity: 1 !important;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
nav{
  background-color: transparent !important;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;

}
.side-nav{
  z-index: 99;
}

/* banner*/
.first_impression{
  background-color: transparent;
  display:flex;
  justify-content: space-evenly;
  /* height: 311px; */
  width: 100%;
  z-index: 2; 
  position: absolute; 
  margin: 2.5% -3%;


}
.img-container {
  display: inline-block;
  vertical-align: middle;
  width:300px;
  height:300px;
  position:relative;
  margin: auto;
}
.quote:hover {
  color:navy;
  text-shadow:0px 0px 15px white;
  transition:2s
}
.ball {
  width:20px;
  height:20px;
  border-radius:50%;
  margin-left:140px;
  margin-top:1px;
  z-index:3;
  color:yellow;
}
.ball2 {
  width:20px;
  height:20px;
  border-radius:50%;
  margin-left:140px;
  margin-top:-10px;
  z-index:3;
  color:pink;
}
@keyframes rotating {
  0% {
      transform:rotate(0deg);
  }
  25% {
      transform:rotate(90deg);
  }
  50% {
      transform:rotate(180deg);
  }
  75% {
      transform:rotate(270deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

@keyframes reverseRotating {
  0% {
      transform:rotate(0deg);
  }
  25% {
      transform:rotate(-90deg);
  }
  50% {
      transform:rotate(-180deg);
  }
  75% {
      transform:rotate(-270deg);
  }
  100% {
      transform:rotate(-360deg);
  }
}
.profile_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* margin-right: 80px; */
  vertical-align: middle;
  position:absolute;
  top:18%;
  left:18%;

}
.outerring {
  background-color: transparent;
  border:4px dotted white;
  border-radius:50%;
  width:300px;
  height:300px;
  margin:2px;
  animation: rotating 10s linear infinite;

}
.follow_you{
  display: inline-block;
  width: 600px;
  vertical-align: middle;
}
.quote{
  color:white;

  vertical-align: middle;
  text-align: left;
  width: 518px;
  font-size: 30px;
}






/* nav bar drop down */
/* #dropdown1{

} */
li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
   position: relative;
 }
 
 ul li ul li {
   clear: both;
   width: 100%;
 }



/* .projectOption{
      display: block;
      position: relative;
      float: left;
      background: #1bc2a2;
    
} */
/* 
.navtitle{
  font-size: 1.6em;
}
.navlink{
  font-family: 'Raleway', sans-serif;
}
.brand-logo{
  margin-left: 25px;
} */
/* @font-face {
  font-family: questrial;
  src: url('./fonts/Questrial-Regular.ttf');
} */
/* .questrial{
  font-family: questrial;
} */
/* .raleway{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
} */
/* #name{
  font-size: 6em;
  font-weight: 600;
  margin-top: 22%;
}
#title{
  font-size: 5em;
  font-weight: 600;
} */
.vis {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
/* .banner-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 2s, opacity 2s ease;
  -o-transition: visibility 0s 2s, opacity 2s ease;
  transition: visibility 0s 2s, opacity 2s ease;
} */
#banner{
  height: 376px !important;
}

#parallax-one{
  background-image: url('/bg2.jpg');
}
#parallax-two{
  background-image: url('/bg1.jpg');
}
#parallax-three{
  background-image: url('/bg3.jpg');
}

#parallax-four{
  background-image: url('/bg3.jpg');
}
#parallax-five{
  background-image: url('/bg3.jpg');
}
#parallax-six{
  background-image: url('/bg3.jpg');
}

#parallax-one, #parallax-two, #parallax-three, #parallax-four, #parallax-five, #parallax-six{
  
  height: 240px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
   
}
#parallax-zero{
  background-image: url('/bg0.jpg');
  height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.parallaximg{
  width: 100vw;

}

#about, #skills{
  height: auto;
}
#projects{
  height: auto;
}
#abouttxtdiv{
  width: 50%;
}
/* #aboutpictures{
  opacity: 0;
} */
/* .header{
  font-weight: 500 !important;
} */
/* .abouttext{
  font-size: 1.2em;
} */
.typing1 h6{
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid red; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    overflow-wrap: break-word;

    
    animation: 
      following1 3.5s steps(30, end),
      blink-caret1 .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes following1 {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret1 {
    from, to { border-color: transparent }
    50% { border-color: red }
  }
  .typing2 h6{
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid blue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    overflow-wrap: break-word;
    animation: 
      following2 3.5s steps(30, end),
      blink-caret2 .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes following2 {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret2 {
    from, to { border-color: transparent }
    50% { border-color:blue }
  }
  .typing3 h6{
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid greenyellow; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    overflow-wrap: break-word;
    animation: 
    following3 3.5s steps(30, end),
    blink-caret3 .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes following3{
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret3 {
    from, to { border-color: transparent }
    50% { border-color:greenyellow }
  }
  .typing4 h6{
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid purple; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    overflow-wrap: break-word;
    animation: 
    following4 3.5s steps(30, end),
      blink-caret4 .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes following4 {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret4 {
    from, to { border-color: transparent }
    50% { border-color: purple }
  }
  .typing5 h6{
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    overflow-wrap: break-word;
    animation: 
    following5 3.5s steps(30, end),
      blink-caret5 .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes following5 {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret5 {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  .typing6 h6{
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid palevioletred; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    overflow-wrap: break-word;
    animation: 
    following6 3.5s steps(30, end),
      blink-caret6 .5s step-end infinite;
  }
  
  /* The typing effect */
  /* @keyframes following6 {
    from { width: 0 }
    to { width: 100% }
  } */
  
  /* The typewriter cursor effect */
  /* @keyframes blink-caret6 {
    from, to { border-color: transparent }
    50% { border-color:palevioletred }
  } */
  /* .css-typing
{    */
  /* border-right: .15em solid orange; */
    /* font-family: "Courier";
    font-size: 14px;
    width: 50em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(40, end);
    animation: type 5s steps(40, end);
} */
/* .css-typing{
      width: 100px;
      word-wrap: break-word;
} */

/* .css-typing:nth-child(2)
{
    white-space:nowrap;
    overflow:hidden;    
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type2 5s steps(40, end);
    -webkit-animation-delay: 5s; 
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.css-typing:nth-child(3){
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type3 5s steps(40, end);
    -webkit-animation-delay: 10s; 
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

 @keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

span{
  animation: blink 1s infinite;
}

@keyframes type2{
0%{width: 0;}
from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}
@-webkit-keyframes type2{
0%{width: 0;}
from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}  
@keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}

} 
@-webkit-keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}   */

/* .abtpicdiv{
  margin-bottom: 5%;
} */
/* .about-picture{

  width: 100%;
  border-radius: 50%;
}
#techtitle{
  font-size: 3.2em;
}
#techdescript{
  font-size: 1.2em;
}
#techimgs{
  opacity: 0;
}
.techscroll{
  opacity:0;
}
.techrow{
  margin-top: 10%;
}*/
.techimg{
  width:50%;
} 
#techimgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* .projtitlescroll, .projscroll{
  opacity: 0;
}
#projectdescript{
  font-size: 10%;
}*/
#project1, #project2, #project3, #project4, #project5{
  height: auto;
  border-bottom-style: dotted;

} 


.projgif{
  -webkit-box-shadow: 10px 10px 5px rgb(214, 113, 130);
          box-shadow: 10px 10px 5px rgb(214, 113, 130);
  border-radius: 7px;
}
/* .iosimg{
  width: 100%;
} */
/* .projtext{
  margin-bottom: 5%;
} */
/* .project-link{
  width: 100%;
  max-width: 100px;
} */
/* #contactimgs{
  opacity: 0;
} */
/* .contactdiv{
  height: auto;
} */
/* .contactlink{
  text-decoration: none;
} */
/* .contactimg{
  width: 100% !important;
  max-width: 120px;
} */


#about {
  padding-top: 40px;
  width:100vw;
 
}
#about2{
  background-color: rgb(39, 98, 146);
  width: 100vw;
}
#project1 {
  padding-top: 40px;
}
#project2 {
  padding-top: 40px;
}
#project3 {
  padding-top: 40px;
}
#project4 {
  padding-top: 40px;
}
#project5 {
  padding-top: 40px;
}
#project6 {
  padding-top: 40px;
}
#skills {
  padding-top: 40px;
}
#education{
  padding-top: 40px;
}
#experience{
  padding-top: 40px;
}

.summary{
  font-weight: bold;
  width:600px;
  vertical-align: top;
  padding: 50px 0px 50px 100px;
  display: inline-block;
  
}
.summary h2{
  font-size: 34px;
  color: black;
  /* font-family: 'Sigmar One', cursive; */
  text-shadow: 1px 1px 2px white;
}
.summary h3{
  font-size: 24px;
  margin: 40px 0px;
  color: black;
  font-weight: normal;
  line-height: 40px;
  /* font-family: 'Sigmar One', cursive;
  font-family: 'Work Sans', sans-serif; */
}

.rock_climbing{
  color:lightgreen;
  font-weight: bold;
  font-size: 35px;
  /* font-family: 'Chewy', cursive; */
}
.foreign_languages{
  color: palevioletred;
  font-weight: bold;
  font-size: 35px;
  /* font-family: 'Chewy', cursive; */
}
.climbing{
  width: 400px;
  height: 328px;
  display: inline-block;
  border: 5px dotted rgb(39, 98, 146);
  margin: 40px 20px 40px 105px;
  position:relative;
  vertical-align: middle;
}
.climbing p{
  /* font-family: 'Rock Salt', cursive; */
  background-color:#ff4a4a;
  color: white;
}
.climbing img{
  width: 400px;
  border-radius: 3px;
}

.languages{
  width: 400px;
  display: inline-block;
  height: 300px;
  border: 5px dotted rgb(39, 98, 146);
  margin: 40px 20px 40px 105px;
  vertical-align: middle;
}
.languages p{
  /* font-family: 'Rock Salt', cursive; */
  background-color:#ff4a4a;
  color: white;
}
.languages img{
  width: 400px;
  border-radius: 3px;
}
/* .languages p{
  color: black;
} */
.past_experience{

  background-color: rgb(39, 98, 146);
  /* display:flex; */
  /* vertical-align: middle; */
  /* justify-content: space-evenly; */
  width: 100vw;
}

.fa-laptop{
  color: white;
  display: inline-block;
  font-size:250px;
  padding: 50px 100px 50px 193px;
  vertical-align: middle;
}
.previous{
  color: white;
  font-weight: bold;
  /* width:100vw; */
  /* padding: 50px 100px; */
  /* display: inline-block; */
  vertical-align: middle;
 
}
.previous h2{
  color: white;
  font-weight: bold;
  font-size: 34px;
  /* font-family: 'Sigmar One', cursive; */
  text-shadow: 1px 1px 2px black;
}

.previous h3{
  color: white;
  font-weight: normal;
  font-size: 24px;
  margin: 40px 0px;
  line-height: 40px;
  /* font-family: 'Sigmar One', cursive; */
  /* font-family: 'Work Sans', sans-serif; */
}
.previous span{
  color: yellow;
  font-style: italic;
  /* font-family: 'Caveat', cursive; */
  font-size: 30px;
  
}
.project_experience{
  background-color: white;
}
.past_project{
  width: 600px;
  padding: 50px 100px ;
  display: inline-block;
  vertical-align: top;

}
.past_project h2{
  color: black;
  font-size: 34px;
  font-family: 'Sigmar One', cursive;
  text-shadow: 1px 1px 2px white;
}

.past_project h3{
  color: black;
  font-weight: normal;
  font-size: 24px;
  margin: 40px 0px;
  line-height: 40px;
  /* font-family: 'Sigmar One', cursive; */
  /* font-family: 'Work Sans', sans-serif; */

}
.life_change{
  color:darkgreen;
  font-style: italic;
  /* font-family: 'Caveat', cursive; */
  font-size: 30px;

}
.my_first_project{
  color: darkblue;
  font-weight: bold;
  font-size: 35px;
  /* font-family: 'Chewy', cursive; */
}
.first_project{
  width: 600px;
  height: 60px;
  display: inline-block;
  padding: 50px 0px;


}
.first_project_pic{
  width: 270px;
  display: inline-block;
  glyph-orientation-vertical: top;
  border: 1px solid black;
  margin-bottom: 46px;
}

.description {
position: relative;
background: rgb(39, 98, 146);
  border-radius: .4em;
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin: 0px 30px;
  padding: 10px 0px 10px 10px;
  color: white;
}

.description:after {
content: '';
position: absolute;
bottom: 0;
left: 50%;
width: 0;
height: 0;
border: 49px solid transparent;
border-top-color: rgb(39, 98, 146);
border-bottom: 0;
border-left: 0;
margin-left: -24.5px;
margin-bottom: -49px;
}
.now{
  background-color: rgb(39, 98, 146);
}
.current{
  color: white;
}

.bootcamp{

  display: inline-block;
  width: 600px;
  padding: 50px 60px 50px 100px;
  vertical-align: middle;

}

.bootcamp h2{
  color:white;
  font-weight: bold;
  font-size: 34px;
  /* font-family: 'Sigmar One', cursive; */
  text-shadow: 1px 1px 2px black;
}

.bootcamp h3{
  color:white;
  font-weight: normal;
  font-size: 24px;
  margin: 40px 0px;
  line-height: 40px;
  /* font-family: 'Sigmar One', cursive; */
  /* font-family: 'Work Sans', sans-serif; */
}

.progress_matrix{
  color: orangered;
  font-weight: bold;
  font-size: 35px;
  /* font-family: 'Chewy', cursive; */

}
.progress{
  width: 600px;
  height: 510px;
  background-color: rgb(39, 98, 146);
  display: inline-block;
  margin: 40px 0px;
  vertical-align: middle;
}
.progress li{
  text-align: center;
  color: black;
}
.from_now_on{
  background-color: white;
  height: 708px;
}
.future{
  color: black
}
.goal{
  padding: 50px 100px;
  width: 600px;
}
.goal h2{
  color:black;
  font-size: 34px;
  /* font-family: 'Sigmar One', cursive; */
  text-shadow: 1px 1px 2px white;
}
.goal h3{
  color:black;
  font-weight: normal;
  margin: 40px 0px;
  font-size: 24px;
  line-height: 40px;
  /* font-family: 'Sigmar One', cursive; */
  /* font-family: 'Work Sans', sans-serif; */
}
.project_ex{
  background-color: rgb(39, 98, 146);
  height: 435px;
}
.portofolio {
  display:flex;
  justify-content: space-around;
}
.working_projects{
  color: cyan;
  font-weight: bold;
  font-size: 35px;
  /* font-family: 'Chewy', cursive; */
}
.project{
  display: inline-block;
}
.project h4{
  margin: 20px 0px;
  text-align: center;
  color:white;
  font-size: 28px;
  /* font-family: 'Orbitron', sans-serif; */
 
}
.wireframe{
  width: 325px;
  height: 300px;
  font-weight: bold;
  background-color: transparent;
  border:5px solid white;
  color: white;
  text-align:center;
}
.fa-toolbox, .fa-hard-hat , .fa-truck-pickup {
  font-size:250px;
}

.footer{
  background-color: white;
  height: 100px;
  text-align: center;
  margin-top:50px;
}
.footer p{
  color: rgb(39, 98, 146);
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  padding: 5px;
  /* font-family: 'Passion One', cursive; */
}
.footer img{
  width: 50px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.nav {
  padding:10px 15px;
  border:1px solid black;
  color:black;
  background-color: transparent;
  border-radius:5px;
  width:120px;
}

.nav:hover {
  background-color:black;
  color:white;
  border:1px solid white;
  transition:1s;
}

table{
  margin:0 auto;
}
td {
  border:5px solid black;
  margin:0px 20px;
  color:white;
  font-size: 20px;
  padding:13px;
  font-family: 'Press Start 2P', cursive;
  
}

td:hover {
  background-color:white;
  color:black;
  transition:1s;
}
.right-align-me{
  text-align: right;
}

.fa-hard-hat{
  color:yellow;
}
.fa-truck-pickup{
  color: blue;
}
.fa-toolbox{
  color:red;
}
.backtotop {
  position:fixed;
  background-color:white;
  width:50px;
  height:50px;
  box-shadow:2px 2px 5px black;
  border-radius:50%;
  text-align:center;
  right:0px;
  bottom:40px;
}
.fa-home {
  margin-top:5px;
  font-size:35px;

}
.invisible-button{
  background-color:transparent;
  outline:none;
  border:none;
}
.main{
  background-color: white;
}

.carousel{
  width:400px;
  border:2px solid black;
}
.images{
  display:inline-block;
  width:400px;
  height:300px;
  padding:200px 25px 0px 100px;

}

.marker {
  width:5px;
  height:5px;
  background-color:lightslategray;
  border-radius:50%;
}
.markers {
  display:flex;
  margin-top:20px;
  justify-content: space-around;
}
.marked {
  background-color:white;

}